@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96.9%;
    --foreground: 212.4 78.7% 9.2%;
    --card: 0 0% 96.9%;
    --card-foreground: 212.4 78.7% 9.2%;
    --popover: 0 0% 96.9%;
    --popover-foreground: 212.4 78.7% 9.2%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 212.4 20% 93%;
    --secondary-foreground: 212.4 78.7% 9.2%;
    --muted: 212.4 20% 93%;
    --muted-foreground: 212.4 15% 40%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 212.4 20% 87%;
    --input: 212.4 20% 87%;
    --ring: 212.4 40% 55%;
    --radius: 0.625rem;
    --level1: 137.6 61.4% 67.5%;
    --level2: 211.8 52.9% 69.2%;
    --level3: 2 100% 75.9%;
  }

  .dark:root {
    --background: 212.4 78.7% 9.2%;
    --foreground: 0 0% 96.9%;
    --card: 212.4 78.7% 9.2%;
    --card-foreground: 0 0% 96.9%;
    --popover: 212.4 78.7% 9.2%;
    --popover-foreground: 0 0% 96.9%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 212.4 40% 16%;
    --secondary-foreground: 0 0% 96.9%;
    --muted: 212.4 40% 16%;
    --muted-foreground: 212.4 20% 65%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 70.9% 59.4%;
    --destructive-foreground: 0 0% 98%;
    --border: 212.4 35% 18%;
    --input: 212.4 35% 18%;
    --ring: 212.4 55% 45%;
    --level1: 115.1 74.2% 25.9%;
    --level2: 212.4 72.1% 66.3%;
    --level3: 1.8 93.5% 48.2%;
  }
}
